<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739229502650-98ov9nmb0en0pv83e8t9gvdp6mocmqk2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739229502650-98ov9nmb0en0pv83e8t9gvdp6mocmqk2</string>
	<key>API_KEY</key>
	<string>AIzaSyCFTxGmT8odV_xBOxNf21s3mY_yVsz6Mhk</string>
	<key>GCM_SENDER_ID</key>
	<string>739229502650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timerg.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>timerg-a31ec</string>
	<key>STORAGE_BUCKET</key>
	<string>timerg-a31ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739229502650:ios:d50b74863a2083c61b0683</string>
</dict>
</plist>